@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --nice-text-rgb: 51, 32, 27;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-base: 252, 248, 247;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-base));
}

section,
main {
  box-sizing: border-box;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}
