.header {
  background-color: white;
}

.text {
  color: rgb(var(--nice-text-rgb));
  cursor: pointer;
}

.aside {
  left: 100%;
  background-color: rgb(var(--background-base));
  z-index: 99;

  &_show {
    left: 0%;
  }
}