@keyframes image_1 {
  0% {opacity: 1;}
  10% {opacity: 1;}
  20% {opacity: 0;}
  30% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  60% {opacity: 0;}
  70% {opacity: 0;}
  80% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes image_2 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  20% {opacity: 1;}
  30% {opacity: 1;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  60% {opacity: 0;}
  70% {opacity: 0;}
  80% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes image_3 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  20% {opacity: 0;}
  30% {opacity: 0;}
  40% {opacity: 1;}
  50% {opacity: 1;}
  60% {opacity: 0;}
  70% {opacity: 0;}
  80% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes image_4 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  20% {opacity: 0;}
  30% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  60% {opacity: 1;}
  70% {opacity: 1;}
  80% {opacity: 0;}
  90% {opacity: 0;}
  100% {opacity: 0;}
}

@keyframes image_5 {
  0% {opacity: 0;}
  10% {opacity: 0;}
  20% {opacity: 0;}
  30% {opacity: 0;}
  40% {opacity: 0;}
  50% {opacity: 0;}
  60% {opacity: 0;}
  70% {opacity: 0;}
  80% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.animation {
  animation-duration: 20s;
  animation-iteration-count: infinite;

  &_1 {
    animation-name: image_1;
  }

  &_2 {
    animation-name: image_2;
  }

  &_3 {
    animation-name: image_3;
  }

  &_4 {
    animation-name: image_4;
  }

  &_5 {
    animation-name: image_5;
  }
}
