.section_two_background {
  background-image: url("/images/KNS_6440.JPG");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.about_text {
  color: #3e2525;
}
