@use "./variables.scss" as v;

.wrapper_content {
  left: 0;
  transition:
    top 0.8s ease-out,
    opacity 0.8s ease-out;
}

@keyframes animation_top {
  0% {
    background-position: 50% 40%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 50% 40%;
  }
}

@keyframes animation_bottom {
  0% {
    background-position: 50% 60%;
  }

  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 50% 60%;
  }
}

.button {
  width: 400px;
  border: none;
  outline: none;
  background-image: url("/svg/decorate_bottom.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: background-position 0.3s;

  &_top {
    background-image: url("/svg/decorate_bottom.svg");
    background-position: 50% 40%;

    &:not(:hover) {
      background-position: 50% 40%;
    }

    &_animation {
      animation-name: animation_top;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    @include v.responsive(md) {
      &:hover {
        background-position: 50% 46%;
      }

      &_animation {
        animation: none;
      }
    }
  }

  &_bottom {
    background-image: url("/svg/decorate_top.svg");
    background-position: 50% 60%;

    &:not(:hover) {
      background-position: 50% 60%;
    }

    &_animation {
      animation-name: animation_bottom;
      animation-duration: 1s;
      animation-iteration-count: 1;
    }

    @include v.responsive(md) {
      &:hover {
        background-position: 50% 54%;
      }

      &_animation {
        animation: none;
      }
    }
  }
}

@include v.responsive(md) {
  .button {
    transition: background-position 0.5s;
  }
}

@keyframes attention {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.story_text {
  color: #3e2525;
}

.guideline_text {
  color: #302310;
  animation-name: attention;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.section_three_background {
  background-image: url("https://ik.imagekit.io/ngquocnhat9317/save_the_date/images/section_3.JPG");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}
