.welcome_background {
  background-image: url("../../public/images/KNS_6596.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stick {
  height: 2px;
  width: 55px;
  background-color: black;
}
