.section_two_background {
  background-image: url("https://ik.imagekit.io/ngquocnhat9317/save_the_date/images/section_2.JPG");
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

.about_text {
  color: #3e2525;
}
