.welcome_background {
  background-image: url("https://ik.imagekit.io/ngquocnhat9317/tr:q-90/save_the_date/images/section_1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stick {
  height: 2px;
  width: 55px;
  background-color: black;
}
