$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

@mixin responsive($canvas) {
  @if $canvas == sm {
    @media (min-width: $sm) {
      @content;
    }
  }

 @else if $canvas == md {
    @media (min-width: $md) {
      @content;
    }
  }

 @else if $canvas == lg {
    @media (min-width: $lg) {
      @content;
    }
  }

 @else if $canvas == xl {
    @media (min-width: $xl) {
      @content;
    }
  }

 @else if $canvas == xxl {
    @media (min-width: $xxl) {
      @content;
    }
  }
}
