$tablet-width: 768px;
$percent: 3.22581%;

$back-gray: #333;
$white: #fff;

$border-radius: 5px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

$poligon: polygon(
  0% 0%,
  0% 100%,
  2% 100%,
  2% ($percent * 1),
  5% ($percent * 1),
  5% ($percent * 2),
  2% ($percent * 2),
  2% ($percent * 3),
  5% ($percent * 3),
  5% ($percent * 4),
  2% ($percent * 4),
  2% ($percent * 5),
  5% ($percent * 5),
  5% ($percent * 6),
  2% ($percent * 6),
  2% ($percent * 7),
  5% ($percent * 7),
  5% ($percent * 8),
  2% ($percent * 8),
  2% ($percent * 9),
  5% ($percent * 9),
  5% ($percent * 10),
  2% ($percent * 10),
  2% ($percent * 11),
  5% ($percent * 11),
  5% ($percent * 12),
  2% ($percent * 12),
  2% ($percent * 13),
  5% ($percent * 13),
  5% ($percent * 14),
  2% ($percent * 14),
  2% ($percent * 15),
  5% ($percent * 15),
  5% ($percent * 16),
  2% ($percent * 16),
  2% ($percent * 17),
  5% ($percent * 17),
  5% ($percent * 18),
  2% ($percent * 18),
  2% ($percent * 19),
  5% ($percent * 19),
  5% ($percent * 20),
  2% ($percent * 20),
  2% ($percent * 21),
  5% ($percent * 21),
  5% ($percent * 22),
  2% ($percent * 22),
  2% ($percent * 23),
  5% ($percent * 23),
  5% ($percent * 24),
  2% ($percent * 24),
  2% ($percent * 25),
  5% ($percent * 25),
  5% ($percent * 26),
  2% ($percent * 26),
  2% ($percent * 27),
  5% ($percent * 27),
  5% ($percent * 28),
  2% ($percent * 28),
  2% ($percent * 29),
  5% ($percent * 29),
  5% ($percent * 30),
  2% ($percent * 30),
  2% ($percent * 31),
  100% 100%,
  100% 0%,
  98% 0%,
  98% 100%,
  100% ($percent * 30),
  95% ($percent * 30),
  95% ($percent * 29),
  100% ($percent * 29),
  100% ($percent * 28),
  95% ($percent * 28),
  95% ($percent * 27),
  100% ($percent * 27),
  100% ($percent * 26),
  95% ($percent * 26),
  95% ($percent * 25),
  100% ($percent * 25),
  100% ($percent * 24),
  95% ($percent * 24),
  95% ($percent * 23),
  100% ($percent * 23),
  100% ($percent * 22),
  95% ($percent * 22),
  95% ($percent * 21),
  100% ($percent * 21),
  100% ($percent * 20),
  95% ($percent * 20),
  95% ($percent * 19),
  100% ($percent * 19),
  100% ($percent * 18),
  95% ($percent * 18),
  95% ($percent * 17),
  100% ($percent * 17),
  100% ($percent * 16),
  95% ($percent * 16),
  95% ($percent * 15),
  100% ($percent * 15),
  100% ($percent * 14),
  95% ($percent * 14),
  95% ($percent * 13),
  100% ($percent * 13),
  100% ($percent * 12),
  95% ($percent * 12),
  95% ($percent * 11),
  100% ($percent * 11),
  100% ($percent * 10),
  95% ($percent * 10),
  95% ($percent * 9),
  100% ($percent * 9),
  100% ($percent * 8),
  95% ($percent * 8),
  95% ($percent * 7),
  100% ($percent * 7),
  100% ($percent * 6),
  95% ($percent * 6),
  95% ($percent * 5),
  100% ($percent * 5),
  100% ($percent * 4),
  95% ($percent * 4),
  95% ($percent * 3),
  100% ($percent * 3),
  100% ($percent * 2),
  95% ($percent * 2),
  95% ($percent * 1),
  100% ($percent * 1),
  100% 0%,
);

// :export {
//   poligon: $poligon;
//   color-back-gray: $back-gray;
//   color-white: $white;
// }
