$tablet-width: 768px;
$percent: 3.22581%;

$back-gray: #333;
$white: #fff;

$border-radius: 5px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

$poligon: polygon(
  0% 0%,
  0% 100%,
  2% 100%,
  2% $percent,
  5% $percent,
  5% (100% - $percent),
  2% (100% - $percent),
  2% 100%,
  98% 100%,
  98% (100% - $percent),
  95% (100% - $percent),
  95% $percent,
  98% $percent,
  98% 100%,
  100% 100%,
  100% 0%,
);

// :export {
//   poligon: $poligon;
//   color-back-gray: $back-gray;
//   color-white: $white;
// }
