.wrapper_button {
    position: absolute;
    left: 5px;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    height: 120px;
    width: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: rgba($color: #fff, $alpha: 0.5);
        outline: none;
        border: none;
    }
}