@use './_variables.scss' as v;
@import './_variables.scss';

$percent: 3.22581%;

.wrapper_content {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px 20px 20px 28px;

  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    height: 100%;

    /* hidden scrollbar */
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .wrapper_image {
      width: calc((100% - 40px) / 5);
      background: rgba($color: #daccba, $alpha: 0.5);
      padding: 10px;
      border-radius: 5px;

      opacity: 0;
      transform: translateY(-20px);
      transition: opacity 2s linear, transform 1s linear, background-color .5s linear;

      &.show_content {
        transform: translateY(0);
        opacity: 1;
      }

      &:hover {
        background-color: rgba($color: #c2ad92, $alpha: 0.8);
      }

      @include v.tablet {
        width: calc((100% - 20px) / 3);
      }


      @include v.mobile {
        width: calc((100% - 10px) / 2);
      }

      span {
        width: 100%;
        height: auto;
        margin: 0;
        display: block;
      }
    }
  }
}
