@use './_variables.scss' as v;

.wrapper_content {
  height: 100%;
  width: 100%;
  position: relative;

  &.is_os .continue_text {
    bottom: 80px;
  }
}

.home_text {
  font-size: 60px;
  width: 70%;
  color: rgb(113,94,144);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: opacity;

  @include v.mobile {
    font-size: 50px;
  }
}

.continue_text {
  font-size: 20px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 80%;
  transform: translateX(-50%);
  color: #496252;
  text-align: center;

  @include v.mobile {
    font-size: 16px;
  }
}